.header{
    width: 90%;
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    padding-bottom: 20px;
  
    &__logo{
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    
    &__logo .logo2{
      justify-content: center;
    }

    &__logo .logo{
      display: none;
      justify-content: center;
    }

    &__search{
      width: 100%;
      font-size: 16px;
      padding: 10px;
      border: none;
      outline: none;
  
      &::placeholder{
        color: $cinza-claro; 
      }
    }
  
    &__search-container{
      border: 1px solid $cinza-claro;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
    
    &__search-container .header__search-image{
      height: 30px;
      width: 30px;
      padding-left: 10px;
      fill: $cinza-medio;
    }
    
    &__menu__burguer{
      display: none;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 0.2;
      color: $cinza-claro;
  }
  
    &__menu .menu__list{
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    
    &__menu .menu__list .menu__links{
      position: relative;
    }
    
    &__menu .menu__list .menu__links a{
      text-decoration: none;
        color:$preto;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
  
        &:hover{
          padding-bottom: 10px;
          border-bottom: 1px solid $preto;
         }
    }
  }
  .header__menu__burguer__closed{
      display: none;
      width: 40px;
      height: 40px;
      align-items: center;
      line-height: 0.2;
      color: $cinza-claro;
  }
  
  @media  screen and (max-width: 768px){
    .header{
      width: 90vw;
    }
    .header__menu{
      display: none;
    }
    .header__logo{
      width: auto;
      display: flex;
      justify-content: space-between;
    }
    .header__logo .logo2{
      display: none;
    }
    .header__logo .logo{
      display: block;
      align-self: center;
    }
    .header__menu__burguer{
      display: block;
      margin-left: 2%;
    }

    .header__menu__burguer a:checked{
      display: none;
      .header__menu__burguer__closed{
        display: block;
      }

    }
    
    .header__menu__logo{
      margin-right: 45%;
      align-self: center;
    }

  }
