body{
  font-family: "Raleway", sans-serif;
  font-size: 0.8125rem;
}

///variaveis de cores
$cinza: #e6e5e5;
$cinza-claro: #b4b3b3;
$cinza-medio: #646262;
$preto: #111111;


@mixin for-phone {
  @media(max-width: 768px){
    @content;
  }
}

@import 'header', 'breadcrumbs', 'filters', 'products', 'footer';







